*,
*::before,
*,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

:root {
	--bg-color: #E5E5E5;
	--bg-search: #E9F1FA;
	--main-color: #18333E;
	--main-opacity-color: #18333eaf;
}

ul,
li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

button {
	cursor: pointer;
}

body {
	font-family: 'Baloo 2', cursive;
	font-weight: 400;
	font-size: 16px;
	background-color: var(--bg-color);
	/* background-color: #091921; */
	color: var(--main-color);
}

.page {
	position: relative;
	padding: 30px 0;
}

/* ===================================> HEADER <=================================== */

.header {
	margin-bottom: 50px;
}

.container {
	max-width: 1370px;
	padding: 0 15px;
	margin: 0 auto;
}

.header__inner {
	display: flex;
	max-height: 64px;
	align-items: center;
	justify-content: space-between;
}

.header__box {
	max-width: 100%;
	max-height: 64px;
}

.header__box:first-child {
	position: relative;
	display: flex;
	align-items: center;
	margin-right: 40px;
}

.header__box:first-child::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 45px;
	top: 50%;
	right: -8%;
	transform: translateY(-50%);
	background-color: #B4BCC4;
}

.header__box+.header__box {
	margin-left: 40px;
}

.header__logo {
	margin-right: 70px;
}

.header__logo-link {
	max-width: 100%;
	max-height: 64px;
}

.header__form {
	position: relative;
	width: 668px;
	max-height: 53px;
	margin-right: 40px;
}

.header__form::before {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	background-image: url('../img/search.svg');
	top: 50%;
	left: 18px;
	transform: translateY(-50%);
}

.header__search {
	min-width: 100%;
	height: 53px;
	background-color: var(--bg-search);
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 55px;
	padding-right: 25px;
	color: var(--main-color);
	border-radius: 26px;
}

.header__search::placeholder {
	color: var(--main-opacity-color);
}

.header__settings {
	max-width: 53px;
	max-height: 53px;
}

.header__box-content {
	display: flex;
	align-items: center;
}

.header__location {
	position: relative;
	margin-right: 50px;
}

.header__location::before {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	background-image: url('../img/location.svg');
	top: 50%;
	left: -30px;
	transform: translateY(-50%);
}

.header__bell {
	margin-left: auto;
}

.header__avatar {
	max-width: 53px;
	max-height: 53px;
}

.btn-settings {
	width: 53px;
	height: 53px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-color);
	border: 1px solid var(--main-color);
	border-radius: 50%;
	color: #fff;
	transition: all 0.3s ease;
}

.btn-settings__icon {
	width: 24px;
	height: 24px;
	fill: currentColor;
	transition: all 0.3s ease;
}

.btn-settings:hover>.btn-settings__icon {
	color: var(--main-color);
}

.btn-settings:hover {
	background-color: transparent;
	border: 1px solid #B4BCC4;
}

.bell__btn {
	height: 53px;
	width: 53px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #B4BCC4;
	border-radius: 50%;
	background-color: transparent;
	margin-right: 20px;
	transition: all 0.3s ease;
	position: relative;
}

.bell__btn-icon {
	height: 22px;
	transition: all 0.3s ease;
}

.bell__btn:hover {
	background-color: var(--main-color);
}

.bell__btn:hover>.bell__btn-icon {
	fill: #fff;
}

.bell__btn.active::after {
	content: '';
	position: absolute;
	top: -5px;
	right: -5px;
	width: 10px;
	height: 10px;
	background-color: #FF7F5C;
	border-radius: 50%;
}

.bell__btn-icon.active {
	fill: rgb(194, 0, 0);
}

/* ===================================> NAVIGATION <=================================== */


.main-wrapper {
	display: grid;
	grid-template-columns: 0.5fr 2.5fr 1fr;
	grid-gap: 45px;
}


.menu {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-height: 900px;
	grid-column: 1/2;
	font-weight: 500;
}

.menu__list {
	height: 700px;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
}

.menu__link.current {
	background-color: #F9D44A;
	padding-top: 22px;
	padding-right: 30px;
	padding-bottom: 22px;
	border-top-right-radius: 32px;
	border-bottom-right-radius: 32px;
}

.menu__link {
	padding-left: 45px;
	display: flex;
	max-width: 100%;
	align-items: center;
	transition: all 0.3s ease;
}

.menu__item:hover .menu__link {
	transform: translateY(-10px);
}

.menu__link-icon {
	margin-right: 20px;
}

.sign-out {
	position: relative;
	display: inline-flex;
	align-items: center;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
	background-color: transparent;
	transition: color 0.3s ease;
}

.sign-out::before,
.sign-out::after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;
	transition: transform 0.3s ease;
}

.sign-out::before {
	background-image: url('../img/logout-2.svg');
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.sign-out::after {
	background-image: url('../img/logout.svg');
	left: 0;
	transform: translateY(50px);
}

.sign-out:hover {
	color: #FF7F5C;
}

.sign-out:hover::before {
	transform: translateY(-50px);
}

.sign-out:hover::after {
	transform: translateY(0px);
}

/* ===================================> MAIN-SECTION <=================================== */

.section__top {
	margin-bottom: 60px;
}

.form-input.is-hidden {
	border: 0;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.form__item>label {
	cursor: pointer;
}

.main__section {
	max-width: 780px;
	grid-column: 2/3;
}

.main__section-title {
	font-weight: 600;
	font-size: 40px;
	margin-bottom: 20px;
}

.main__section-form {
	margin-bottom: 40px;
}


.form__list {
	display: flex;
}

.form__item+.form__item {
	margin-left: 50px;
}


.main__section-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}

.main__section-item {
	max-width: 240px;
	transition: all 0.6s ease;
}

.main__section-link {
	display: inline-block;
	transition: all 0.6s ease;
	padding-bottom: 10px;
}

.main__section-link_img {
	position: relative;
	border-radius: 35px;
	max-height: 322px;
	background-color: transparent;
	box-shadow: 0px 0px 35px 4px rgba(95, 99, 153, 1);
	-webkit-box-shadow: 0px 0px 35px 4px rgba(95, 99, 153, 1);
	-moz-box-shadow: 0px 0px 35px 4px rgba(95, 99, 153, 1);
	margin-bottom: 20px;
	overflow: hidden;
}

.btn-like {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	padding: 15px;
	z-index: 1000;
	top: 30px;
	right: 30px;
	max-width: 55px;
	max-height: 55px;
	transition: all 0.3s ease;
}

.btn-like:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.btn-like-icon {
	max-height: 24px;
}

.btn-like-icon.active {
	fill: rgb(255, 128, 0);
}

.link-img {
	border-radius: 35px;
}

.link-descr {
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	padding: 40px 25px 25px 25px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 1px;
	line-height: 1.2;
	overflow: auto;
	background-color: rgba(92, 100, 155, 48%);

	transform: translateY(100%);
	transition: all 0.6s ease;
}

.main__section-item:hover {
	transform: translateY(-20px);
}

.main__section-item:hover .link-descr {
	transform: translateY(0);
}

.link-content {
	padding-left: 10px;
}

.link-title {
	font-weight: 500;
	font-size: 22px;
	margin-bottom: 10px;
}

.link-tagline {
	display: flex;
	align-items: center;
}

.tagline-name {
	margin-left: 30px;
	margin-right: 50px;
	opacity: 0.8;
	position: relative;
}

.tagline-rating {
	opacity: 0.7;
	position: relative;
}

.tagline-name::before,
.tagline-rating::before {
	content: '';
	position: absolute;
	top: 50%;
	left: -35px;
	transform: translateY(-50%);
}

.tagline-name::before {
	width: 24px;
	height: 24px;
	background-image: url('../img/location.svg');
}

.tagline-rating::before {
	width: 35px;
	height: 30px;
	background-image: url('../img/star.svg');
}


.title__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

.main__section-subtitle {
	font-weight: 600;
	font-size: 30px;
}

.date-info {
	font-weight: 500;
	font-size: 16px;
	padding: 12px 30px;
	border: 1px solid #B4BCC4;
	border-radius: 24px;
	transition: all 0.3s ease;
	cursor: default;
}

.date-info:hover {
	background-color: var(--main-color);
	color: var(--bg-color);
}


.date__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 45px;
	margin-left: -20px;
	margin-right: -20px;
}

.date__link {
	padding: 20px;
	border-radius: 32px;
	transition: all 0.3s ease;
}

.date__link:hover {
	background-color: var(--main-color);
	color: #fff;
}

.date__name {
	opacity: 0.7;
	margin-bottom: 10px;
	position: relative;
}

.date__link:hover>.date__name::after {
	content: '';
	position: absolute;
	display: block;
	width: 5px;
	height: 8px;
	background-color: #F9D44A;
	border-radius: 14px;
	opacity: 1;
	left: 50%;
	transform: translateX(-50%);
}

.date__number {
	font-weight: 500;
	font-size: 25px;
}

.list__tours {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tours__item {
	display: flex;
	align-items: center;
	max-height: 120px;
	border-radius: 25px;
	position: relative;
	transition: all 0.3s ease;
}

.tours__item.tours__item-current {
	width: 450px;
	padding: 24px 130px 24px 24px;
	background-color: var(--main-color);
	box-shadow: 0px 0px 35px 4px rgb(168, 92, 92);
	-webkit-box-shadow: 0px 0px 35px 4px rgb(168, 92, 92);
	-moz-box-shadow: 0px 0px 35px 4px rgb(168, 92, 92);
	transition: all 1000ms ease;
}

.tours__item.tours__item-current::after {
	content: '';
	position: absolute;
	width: 27px;
	height: 49px;
	background-image: url('../img/btn-tours.svg');
	right: 22px;
	top: 50%;
	transform: translateY(-50%);
}

.tours__item>.tours__item-content {
	width: 0;
	opacity: 0;
}

.tours__item.tours__item-current>.tours__item-content {
	width: 100%;
	opacity: 1;
}

.tours__btn-img {
	width: 118px;
	border-radius: 15px;
	height: 115px;
	box-shadow: 0px 0px 35px 4px rgba(95, 99, 153, 1);
	-webkit-box-shadow: 0px 0px 35px 4px rgba(95, 99, 153, 1);
	-moz-box-shadow: 0px 0px 35px 4px rgba(95, 99, 153, 1);
	transition: width 500ms ease 1000ms, height 500ms ease 1000ms;
}

.tours__item.tours__item-current>.tours__btn>.tours__btn-img {
	width: 78px;
	height: 74px;
	box-shadow: none;
}

.tours__btn {
	display: inline-block;
	background-color: transparent;
}

.tours__item-content {
	margin-left: 30px;
	color: #fff;
}

.tours__item-title {
	margin-bottom: 10px;
}

.tours__item-rating {
	margin-left: 25px;
	position: relative;
	font-weight: 500;
	font-size: 14px;
}

.tours__item-rating::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	background-image: url('../img/star-tours.svg');
	top: 50%;
	transform: translateY(-50%);
	left: -25px;
}


/* ===================================> ASIDE <=================================== */

.aside {
	max-width: 280px;
}

.aside__inner {
	max-width: 280px;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	justify-content: space-between;
}

.aside__card {
	max-width: 280px;
	padding-bottom: 15px;
	margin-bottom: 45px;
}

.aside__img {
	margin-bottom: 30px;
	box-shadow: 0px 0px 35px 4px rgba(95, 99, 153, 1);
	-webkit-box-shadow: 0px 0px 35px 4px rgba(95, 99, 153, 1);
	-moz-box-shadow: 0px 0px 35px 4px rgba(95, 99, 153, 1);
	overflow: hidden;
	border-radius: 20px;
	max-height: 205px;
	position: relative;
}

.aside__img::before,
.aside__img::after {
	content: '';
	position: absolute;
	display: inline-block;
}

.aside-btn-like {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	padding: 15px;
	z-index: 1000;
	top: 20px;
	right: 20px;
	max-width: 55px;
	max-height: 55px;
	transition: all 0.3s ease;
	transform: translateX(150%);
}

.aside__card:hover .aside-btn-like {
	transform: translateX(0%);
}


.aside__card:hover .aside__images {
	transform: translate(-50%, -20%);
}

.aside-btn-like:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.aside-btn-like-icon {
	max-height: 24px;
	fill: currentColor;
}

.aside-btn-like.active>.aside-btn-like-icon {
	color: rgb(255, 128, 0);
}

.aside__img>img {
	max-width: 280px;
	border-radius: 20px;
}

.aside__images {
	display: flex;
	justify-content: space-between;
	min-width: 90%;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 100%);
	border-radius: 15px;
	transition: all 0.3s ease;
}

.aside__image {
	overflow: hidden;
	border-radius: 15px;
}

.aside__image>img {
	border-radius: 15px;
	max-width: 50px;
}

.aside__card-descr {
	margin-bottom: 55px;
	position: relative;
}

.aside__card-descr::after {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	background-image: url('../img/book-saved.svg');
	top: 0;
	right: 0;
}

.aside__card-title {
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 10px;
}

.aside__card-info {
	display: flex;
	justify-content: space-between;
}

.aside__card-price>span {
	display: block;
	font-weight: 400;
	font-size: 16px;
}

.aside__card-price {
	font-weight: 600;
	font-size: 40px;
}

.aside__card-btn {
	font-weight: 700;
	font-size: 18px;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 0;
	padding: 30px 30px;
	background-color: var(--main-color);
	border-radius: 25px;
	transition: all 0.3s ease;
}

.aside__card-btn:hover {
	background-color: #F9D44A;
	color: var(--main-color);
}




.aside__list {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 370px;
}

.aside__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.aside__item+.aside__item {
	margin-top: 40px;
}

.aside__list-img {
	border-radius: 18px;
	box-shadow: 0px 0px 35px 4px rgba(95, 99, 153, 1);
	-webkit-box-shadow: 0px 0px 35px 4px rgba(95, 99, 153, 1);
	-moz-box-shadow: 0px 0px 35px 4px rgba(95, 99, 153, 1);
	max-width: 100px;
}

.list__name {
	line-height: 35px;
}

.list__place {
	line-height: 26px;
	color: #18333E;
	opacity: 0.7;
	padding-right: 15px;
	position: relative;
}

.list__place::after {
	content: '';
	position: absolute;
	background-image: url('../img/location-aside.svg');
	width: 19px;
	height: 19px;
	right: -5px;
	top: 50%;
	transform: translateY(-50%);
}

.list__btn-like {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E9F1FA;
	border-radius: 50%;
	width: 53px;
	height: 53px;
	transition: all 0.3s ease;
}

.list__btn-like:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.list__btn-icon {
	max-width: 24px;
	max-height: 24px;
}

.list__btn-icon.active {
	fill: rgb(255, 128, 0);
}