*,
*::before,
*,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

:root {
	--bg-color: #E5E5E5;
	--bg-search: #E9F1FA;
	--main-color: #18333E;
	--main-opacity-color: #18333eaf;
}

ul,
li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
}

body {
	font-family: 'Baloo 2', cursive;
	font-weight: 400;
	font-size: 16px;
	background-color: var(--bg-color);
	color: var(--main-color);
}

.page {
	position: relative;
}

/* ===================================> HEADER <=================================== */

.header {
	padding-top: 25px;
	margin-bottom: 50px;
}

.container {
	max-width: 1370px;
	padding: 0 15px;
	margin: 0 auto;
}

.header__inner {
	display: flex;
	max-height: 64px;
	align-items: center;
	justify-content: space-between;
}

.header__box {
	max-width: 100%;
	max-height: 64px;
}

.header__box:first-child {
	position: relative;
	display: flex;
	align-items: center;
	margin-right: 40px;
}

.header__box:first-child::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 40px;
	top: 50%;
	right: -30px;
	transform: translateY(-50%);
	background-color: #B4BCC4;
}

.header__box+.header__box {
	margin-left: 40px;
}

.header__logo {
	margin-right: 70px;
}

.header__logo-link,
.header__logo-icon {
	max-width: 100%;
	max-height: 64px;
}

.header__form {
	position: relative;
	width: 668px;
	max-height: 53px;
	margin-right: 40px;
}

.header__form::before {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	background-image: url('../img/search.svg');
	top: 50%;
	left: 18px;
	transform: translateY(-50%);
}

.header__search {
	min-width: 100%;
	height: 53px;
	background-color: var(--bg-search);
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 55px;
	color: var(--main-color);
	border-radius: 26px;
}

.header__search::placeholder {
	color: var(--main-opacity-color);
}

.header__search:focus-visible {
	outline: none;
}

.header__settings {
	max-width: 53px;
	max-height: 53px;
}

.header__box-content {
	display: flex;
	align-items: center;
}

.header__location {
	position: relative;
	margin-right: 50px;
}

.header__location::before {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	background-image: url('../img/location.svg');
	top: 50%;
	left: -30px;
	transform: translateY(-50%);
}

.header__bell {
	margin-left: auto;
}

.header__avatar {
	max-width: 53px;
	max-height: 53px;
}

.btn-settings {
	width: 53px;
	height: 53px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-color);
	border: 1px solid var(--main-color);
	border-radius: 50%;
	color: #fff;
	transition: all 0.3s ease;
}

.btn-settings__icon {
	width: 24px;
	height: 24px;
	fill: currentColor;
	transition: all 0.3s ease;
}

.btn-settings:hover>.btn-settings__icon {
	color: var(--main-color);
}

.btn-settings:hover {
	background-color: transparent;
	border: 1px solid #B4BCC4;
}

.bell__btn {
	height: 53px;
	width: 53px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #B4BCC4;
	border-radius: 50%;
	background-color: transparent;
	margin-right: 20px;
	transition: all 0.3s ease;
	position: relative;
}

.bell__btn-icon {
	height: 22px;
	transition: all 0.3s ease;
}

.bell__btn:hover {
	background-color: var(--main-color);
}

.bell__btn:hover>.bell__btn-icon {
	fill: #fff;
}

.bell__btn.active::after {
	content: '';
	position: absolute;
	top: -5px;
	right: -5px;
	width: 10px;
	height: 10px;
	background-color: #FF7F5C;
	border-radius: 50%;
}

.bell__btn-icon.active {
	fill: rgb(194, 0, 0);
}

/* ===================================> NAVIGATION <=================================== */


.main-wrapper {
	display: grid;
	grid-template-columns: 0.5fr 2.5fr 1fr;
	grid-gap: 60px;
}


.menu {
	display: inline-block;
	grid-column: 1/2;
}

.menu__list {
	height: 700px;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
}

.menu__link.current {
	background-color: #F9D44A;
	padding-top: 22px;
	padding-right: 30px;
	padding-bottom: 22px;
	border-top-right-radius: 32px;
	border-bottom-right-radius: 32px;
}

.menu__link {
	padding-left: 45px;
	display: flex;
	max-width: 100%;
	align-items: center;
	transition: all 0.3s ease;
}

.menu__item:hover .menu__link {
	transform: translateY(-10px);
}

.menu__link-icon {
	margin-right: 20px;
}

/* ===================================> main-section <=================================== */

.form-input.is-hidden {
	border: 0;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.form__item>label {
	cursor: pointer;
}

.main__section {
	grid-column: 2/3;
}

.main__section-title {
	font-weight: 600;
	font-size: 40px;
	margin-bottom: 20px;
}

.main__section-form {
	margin-bottom: 40px;
}


.form__list {
	display: flex;
}

.form__item+.form__item {
	margin-left: 50px;
}


.main__section-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}

.main__section-item {
	transition: all 0.6s ease;
	padding-bottom: 25px;
}

.main__section-link {
	display: inline-block;
	transition: all 0.6s ease;
	padding-bottom: 10px;
}

.main__section-link_img {
	position: relative;
	border-radius: 35px;
	max-height: 322px;
	background-color: transparent;
	-webkit-box-shadow: 0px 0px 35px 4px rgba(95, 99, 153, 1);
	-moz-box-shadow: 0px 0px 35px 4px rgba(95, 99, 153, 1);
	box-shadow: 0px 0px 35px 4px rgba(95, 99, 153, 1);
	margin-bottom: 20px;
	overflow: hidden;
}

.btn-like {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	padding: 15px;
	z-index: 1000;
	top: 30px;
	right: 30px;
	max-width: 55px;
	max-height: 55px;
	transition: all 0.3s ease;
}

.btn-like:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.btn-like-icon {
	max-height: 24px;
}

.btn-like-icon.active {
	fill: rgb(194, 0, 0);
}

.link-img {
	border-radius: 35px;
}

.link-descr {
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	padding: 25px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(92, 100, 155, 48%);

	transform: translateY(100%);
	transition: all 0.6s ease;
}

.main__section-item:hover {
	transform: translateY(-20px);
}

.main__section-item:hover .link-descr {
	transform: translateY(0);
}

.link-content {
	padding-left: 10px;
}

.link-title {
	font-weight: 500;
	font-size: 22px;
	margin-bottom: 10px;
}

.link-tagline {
	display: flex;
	align-items: center;
}

.tagline-name {
	margin-left: 30px;
	margin-right: 50px;
	opacity: 0.8;
	position: relative;
}

.tagline-rating {
	opacity: 0.7;
	position: relative;
}

.tagline-name::before,
.tagline-rating::before {
	content: '';
	position: absolute;
	top: 50%;
	left: -35px;
	transform: translateY(-50%);
}

.tagline-name::before {
	width: 24px;
	height: 24px;
	background-image: url('../img/location.svg');
}

.tagline-rating::before {
	width: 35px;
	height: 30px;
	background-image: url('../img/star.svg');
}